<%- include('./partials/header.ejs') %>

<div class="container">
    <br><br>
    <form action="/forgot" method="POST">
        <div style=" width:60%; margin: 0 auto;">
            <legend> Forgot Password </legend>
            <div class="form-group">
                <label for="emailUser"> REGISTERED EMAIL </label>
                <input type="email" id="emailUser" name="emailUser" required="true" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
        </div>
    </form>
</div>


<%- include('./partials/footer.ejs') %>
