<%- include('./partials/header.ejs') %>

<div class="container">
    <br><br>
    <form action="/reset/<%=user.id%>" method="POST">
        <div style=" width:60%; margin: 0 auto;">
            <legend> Password Reset for <%=user.username %></legend>
            <div class="form-group">
                <label for="newPassword"> NEW PASSWORD </label>
                <input type="password" id="newPassword" name="newPassword" required="true" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
        </div>
    </form>
</div>


<%- include('./partials/footer.ejs') %>
