
.img-thumbnail img{
    width:100%;
}

.figure{
    width: 100%;
    padding:0;
}

.figure-img{
    width: 100%;
    padding: 0;
}
.img-thumbnail{
    padding:0;
}

.figure{
    padding:0;
}

#profilepage{
    display: inline;
}


.figure-caption{
    padding: 10px;
}

.delete-form{
    display: inline;
}

#map{
    height: 400px ;
    width: 100%;
}