<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <P>
        
        Each user can add multiple restuarants that belong to them.
        
        Each restaurants will contains a sample photo, details, approx cost, location & details of owner. 
        
        Each user will have a profile containing basic details (like username, profile piicture, email ,bio etc) that can be accessed in their profile page. 

        Users can post a review with a rating (0to5) for each restaurant - an aggregate score of which will be displayed at the top.
        
        To prevent manipulation of rating system:
            - A user can't place reviews for their own restaurant
            - A user can only place one review per restaurant (however they can edit or delete &recreate their review).

        To moderate content, certain admin accounts will be created. They are meant for content moderation - so they cannot create any campground or add comments. 

        To prevent misrepresentation of someone's review by admin users, admin users are only granted permission to delete a comment or campground. 

        Users can also change their password in their profile page.

        Also, there is an option to reset password if incase a user forgets their password. 
        
    </P>
</body>
</html>