<%- include('../partials/header.ejs') %>

<div class="container">
    <h1 style="margin-left: 7.5em; margin-block-start: 2em ;"> Add New Comment to <%= camp.name %></h1>
    <br><br>
        <form action="/campgrounds/<%=camp._id%>/comments" method="POST">
            <div style=" width:60%; margin: 0 auto;">
                
                <div class="form-group">
                    <label for="commentText"> Your Comment </label>
                    <input type="text" class="form-control" placeholder="Comment" name='commentText' id="commentText">
                </div>

                <!-- try to introduce a photo here -->
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <br> 
                <p style="margin: 0 auto;" class="text-center"> <a href="/campgrounds">Go Back</a> <p>
            </div>
        </form>
    
</div>


<%- include('../partials/footer.ejs') %>
