<%- include('partials/header.ejs') %>

<div class='container'>
    <br><br>
    <h2 style="text-align: center;"> ABOUT </h2>
    <br><h5>
    <ul>        
            <li>Each user can add multiple restuarants that belong to them.</li> <br>
                
            <li>Each restaurants will contains a sample photo, details, approx cost, location & details of owner. </li> <br>

            <li>Each user will have a profile containing basic details (like username, profile piicture, email ,bio etc) that can be accessed in their profile page. </li> <br>

            <li>Users can post a review with a rating (0 to 5) for each restaurant - an aggregate score of which will be displayed at the top.</li> <br>

            <li>To prevent manipulation of rating system:</li> 
                <ul>
                    <li> A user can't place reviews for their own restaurant. </li>
                    <li> A user can only place one review per restaurant (however they can edit or delete &recreate their review). </li><br>
                </ul>
            </li>
                
            <li>To moderate content, certain admin accounts will be created. They are meant for content moderation - so they cannot create any campground or add comments. </li> <br>
                
            <li>To prevent misrepresentation of someone's review by admin users, admin users are only granted permission to delete a comment or campground. </li> <br>

            <li>Users can also change their password in their profile page. </li><br>

            <li>Also, there is an option to reset password if incase a user forgets their password. <br>
            
        </ul>
    </h5>
</div>
<%- include('partials/footer.ejs') %>
