<%- include('partials/header.ejs') %>

<h1> List of campgrounds </h1>


</div>
<% camps.forEach( (camp) => { %>
    <div> 
        <h4> <%= camp.name %> </h4>
        <img src= "<%= camp.image %> ">
    </div> 

<% }); %>

<%- include('partials/footer.ejs') %>