<%- include('partials/header.ejs') %>

<h1> Sign Up </h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button> Signup </button> 
</form>

<div style="margin:4em;">
    <h3> IMPORTANT NOTE: </h3>
    <ul> <h5>
    <li> Set your password such that it has more than 8 eight characters, a mix of both Upper & Lower alphabets and also symbols. </li>
    <li>Else Chome may show you a warning like "A data breach on a site or app exposed your password".</li>
    <li> The warning doesn't mean that your passwords or any other accounts got hacked. 
    <li>It means that your password isn't strong enough and it'd be safe to make it strong. </li>
    <li><a href="https://support.google.com/chrome/thread/23534509?hl=en&msgid=23692520"> Click here </a> for more information </li>   <h5></h5>
</div>
<%- include('partials/footer.ejs') %>